@using WebApplication7.ProductViewModels

@model ProductViewModel
@{
    Layout = "_Layout";
}
@{
    var products = Model.Product;
    //var categories = Model.categories;
    var popularClass = Model.Product.Count > 2 ? "populer" : "";
}
@section Categories
    {
    @await Component.InvokeAsync("Categories")
}
@section Header
    {
    @await Html.PartialAsync("_header")

}


    @if (products.Count == 0)
    {
        @await Html.PartialAsync("_noproduct")
    }
    else
    {
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_product",product)
                </div>
            }

        </div>
    }

