<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">ürün yok</div>
        </div>
    </div>
</body>
</html>